/*padre blanco */
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
   
}
html  {

  background-image: url("../banderas/descarga.jpg");
background-repeat: no-repeat;
color:#fff;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;

}
/* hijos azules cumpla propiedades */
.flex-item {
    background-color: cornflowerblue;
    width: 500px;
    height: 800px;
    margin: 10px;
}
/*tiene los vrs*/
.sub-container {
    align-items: center;
    justify-content: space-around;
    display: -webkit-flex;
    display: flex;
  
}
/*los div  banderas y vrs*/
.banderas-item {
   align-items: center;
    justify-content: space-around;
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
/*propiedaes de las banderas*/
#image-bandera{
   position:relative;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    margin-left: 15px;
}
#marcador{
    width: 50px;
       margin-left: 20px;
}
#versus,#titulo_Cabeseras{
    margin-top: 35px;
    text-align: center;
}